<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="your.launcher.theme"> <!--THIS SHOULD FIT "YOUR.PACKAGE.NAME"-->

    <uses-permission
        android:name="org.n277.lynxlauncher.theme.INSTALL_THEME" /> <!--PERMISSION NEEDED TO BROADCAST THEME TO LAUNCHER-->

    <application
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">
        <activity android:name="your.launcher.theme.MainActivity"
            android:exported="true">
            <!--android:name THIS SHOULD FIT "YOUR.PACKAGE.NAME" + .MainActivity.-->
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <intent-filter>
                <action android:name="org.n277.lynxlauncher.THEME" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
    </application>

</manifest>